@{
    ViewData["Title"] = "My Podcasts";
}
<h1>@ViewData["Title"]</h1>

<p>You want to check this out. Trust me. You'll be glad you did. Click it. Click the logo.</p><br />
<div class="text-center">

    @*p tag that lets the user click on an image to activate a link to the podcast site*@
    <p>
        <a href="https://baconsale.com">
            <img src="~/img/baconsale3.png" alt="baconsale.com">
        </a>
    </p>
</div>
